.form {
    background-color: #fff;
    border-radius: 5px;
    padding: 25px;
    width: 450px;
    margin: 50px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.form h2 {
    text-align: center;
    color: #333;
    font-size: 22px;
    margin-bottom: 25px;
}

.row {
    margin-bottom: 18px;
}

.row label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.row input[type="text"],
.row input[type="number"],
.row textarea,
.row input[type="file"],
.row input[type="submit"] {
    width: 80%;
    padding: 12px 18px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

.row textarea {
    height: 80px;
}

.row input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.row input[type="submit"]:hover {
    background-color: #3e8e41;
}